#video_iframe {
    display: block;
    margin: 80px auto;
}

body {
    background: url(../images/potato.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
