#video_iframe {
    display: block;
    margin: 80px auto;
    z-index: -1;
}

#potato_tv {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5000;
}

/* body {
    background: url(../images/potato.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
